<%- include('./partials/header.ejs'); %>

  <div class="bg-white">
  
    <!-- nav bar end -->

  <section class="login py-5 border-top-1" style="margin-top: 86px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 align-item-center">
          <div class="border">
            <h3 class="bg-gray p-4">Register</h3>
            <form method="post" action="/register">
              <fieldset class="p-4">

                <input type="text" name="username" id="username" placeholder="UserName"
                class="border p-3 w-100 my-2" />
              <% if (errors.username) { %>
                <div class="alert alert-danger" role="alert">
                  <p class="error show">
                    <%= errors.username.msg %>
                  </p>
                </div>

                <% } %>

                <input type="text" name="firstName" id="firstName" placeholder="First Name"
                  class="border p-3 w-100 my-2" />
                <% if (errors.firstName) { %>
                  <div class="alert alert-danger" role="alert">
                    <p class="error show">
                      <%= errors.firstName.msg %>
                    </p>
                  </div>

                  <% } %>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name"
                      class="border p-3 w-100 my-2" />

                    <% if (errors.lastName) { %>
                      <div class="alert alert-danger" role="alert">
                        <p class="error show">
                          <%= errors.lastName.msg %>
                        </p>
                      </div>

                      <% } %>

                        <input type="email" name="email" id="email" placeholder="Email*"
                          class="border p-3 w-100 my-2" />
                          <% if (errors.email) { %>
                        <div class="alert alert-danger" role="alert">
                          
                            <p class="error show">
                              <%= errors.email.msg %>
                            </p>
                           
                        </div>
                        <% } %>

                        <input type="password" name="password" id="password" placeholder="Password*"
                          class="border p-3 w-100 my-2" />
                          <% if (errors.password) { %>
                        <div class="alert alert-danger" role="alert">
                        
                            <p class="error show">
                              <%= errors.password.msg %>
                            </p>
                           
                        </div>
                        <% } %>

                        <input type="password" name="confirmPassword" id="confirmPassword"
                          placeholder="Confirm Password*" class="border p-3 w-100 my-2" />
                          <% if (errors.confirmPassword) { %>

                        <div class="alert alert-danger" role="alert">
                            <p class="error show">
                              <%= errors.confirmPassword.msg %>
                            </p>
                        </div>
                        <% } %>

                        <% if (errors.common) { %>

                        <div class="alert alert-danger" role="alert">
                            <p class="error show">
                              <%= errors.common.msg %>
                            </p>
                        </div>
                        <% } %>


                        <p>
                          By clicking register, you are accepting our
                          <a class="terms" href="terms-condition.html">Terms and Conditions</a>
                        </p>
                        <button type="submit" class="
                      d-block
                      py-3
                      px-5
                      bg-primary
                      text-white
                      border-0
                      rounded
                      font-weight-bold
                      mt-3
                    ">
                          Register
                        </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer.ejs'); %>
</body>

</html>